@import url(https://fonts.googleapis.com/css?family=Lato:300,400italic,400,700);

body {
  line-height: 22px;
  font-size: 16px;
  font-weight: normal;
  font-family: Lato, Georgia, serif;
}

body, p, li {
  line-height: 23px;
}

h1, h2, h3, h4, h5, h6, .navbar, form, .btn, input, button, select, textarea
{
	font-family: Lato, Arial, sans-serif;
}

.content {
  padding-top: 25px;
}

.page-header h1 {
  font-size: 45px;
  font-weight: bold;
  line-height: 52px;
}

.sidebar .toc ul {
  margin-left: 18px;
}

.sidebar h3:first-child {
  margin-top: 0;
}

.meta { 
  background-color: rgba(255, 255, 255, 0.5);
  border: 1px solid #ddd;
  padding: 5px;
  margin-bottom: 20px;
  border-radius: 4px;
  font-size: 90%;
}
.meta td { 
  padding-left: 10px;
  padding-right: 10px;
}
.meta tr td:first-child { 
  font-weight: bold;
}

.table-definitions td:first-child { 
  font-weight: bold;
}

pre {
  font-size: 13px;
}

blockquote {
  font-style: italic;
  background-color: #ddd;
  border-left: 10px solid #ccc;
  padding: 10px;
}
blockquote p {
  font-size: 14px;
}

/**********************************************************
  * Navigation
  *********************************************************/

.brand img {
  height: 30px;
  margin-top: -3px;
  margin-right: 3px;
}

.navbar-inner {
  background: #e0e7eb;
  padding-top: 0px;
}

.navbar-inner .brand {
  font-size: 22px;
  color: #434C50;
  padding-top: 9px;
  padding-bottom: 4px;
}

.navbar .divider-vertical {
  background-color: #acbfca;
  border-right: 1px solid #f5f7f8;
  width: 1px;
  margin: 0;
  height: 43px;
}

.navbar .nav > li > a {
  color: #434c50;
  text-shadow: none;
}

.navbar .nav > li > a:hover {
  color: #222;
}

/**********************************************************
  * Footer
  *********************************************************/

footer {
  font-size: 90%;
  background-color: #f5f5f5;
  padding: 20px 0px;
  margin-top: 20px;
  border-top: solid 1px #ddd;
}

.feedback {
  position: absolute;
  right: 4px;
  top: 250px;
  width: 30px;
  -webkit-transform: rotate(90deg);
  -o-transform: rotate(90deg); 
  transform: rotate(90deg);
  z-index: 100;
}

.feedback a {
  color: #333;
  font-weight: bold;
  font-size: 20px;
  padding: 5px 10px;
  margin-top: 3px;
  background-color: white;
  border: solid 1px #eee;
  border-top: none;
}

.feedback a:hover {
  text-decoration: none;
  background-color: #ddd;
}

/**********************************************************
  * Syntax highlighting from http://github.com/mojombo/jekyll
  *********************************************************/

.highlight  { background: #ffffff; }
.highlight .c { color: #999988; font-style: italic } /* Comment */
.highlight .err { color: #a61717; background-color: #e3d2d2 } /* Error */
.highlight .k { font-weight: bold } /* Keyword */
.highlight .o { font-weight: bold } /* Operator */
.highlight .cm { color: #999988; font-style: italic } /* Comment.Multiline */
.highlight .cp { color: #999999; font-weight: bold } /* Comment.Preproc */
.highlight .c1 { color: #999988; font-style: italic } /* Comment.Single */
.highlight .cs { color: #999999; font-weight: bold; font-style: italic } /* Comment.Special */
.highlight .gd { color: #000000; background-color: #ffdddd } /* Generic.Deleted */
.highlight .gd .x { color: #000000; background-color: #ffaaaa } /* Generic.Deleted.Specific */
.highlight .ge { font-style: italic } /* Generic.Emph */
.highlight .gr { color: #aa0000 } /* Generic.Error */
.highlight .gh { color: #999999 } /* Generic.Heading */
.highlight .gi { color: #000000; background-color: #ddffdd } /* Generic.Inserted */
.highlight .gi .x { color: #000000; background-color: #aaffaa } /* Generic.Inserted.Specific */
.highlight .go { color: #888888 } /* Generic.Output */
.highlight .gp { color: #555555 } /* Generic.Prompt */
.highlight .gs { font-weight: bold } /* Generic.Strong */
.highlight .gu { color: #aaaaaa } /* Generic.Subheading */
.highlight .gt { color: #aa0000 } /* Generic.Traceback */
.highlight .kc { font-weight: bold } /* Keyword.Constant */
.highlight .kd { font-weight: bold } /* Keyword.Declaration */
.highlight .kp { font-weight: bold } /* Keyword.Pseudo */
.highlight .kr { font-weight: bold } /* Keyword.Reserved */
.highlight .kt { color: #445588; font-weight: bold } /* Keyword.Type */
.highlight .m { color: #009999 } /* Literal.Number */
.highlight .s { color: #d14 } /* Literal.String */
.highlight .na { color: #008080 } /* Name.Attribute */
.highlight .nb { color: #0086B3 } /* Name.Builtin */
.highlight .nc { color: #445588; font-weight: bold } /* Name.Class */
.highlight .no { color: #008080 } /* Name.Constant */
.highlight .ni { color: #800080 } /* Name.Entity */
.highlight .ne { color: #990000; font-weight: bold } /* Name.Exception */
.highlight .nf { color: #990000; font-weight: bold } /* Name.Function */
.highlight .nn { color: #555555 } /* Name.Namespace */
.highlight .nt { color: #000080 } /* Name.Tag */
.highlight .nv { color: #008080 } /* Name.Variable */
.highlight .ow { font-weight: bold } /* Operator.Word */
.highlight .w { color: #bbbbbb } /* Text.Whitespace */
.highlight .mf { color: #009999 } /* Literal.Number.Float */
.highlight .mh { color: #009999 } /* Literal.Number.Hex */
.highlight .mi { color: #009999 } /* Literal.Number.Integer */
.highlight .mo { color: #009999 } /* Literal.Number.Oct */
.highlight .sb { color: #d14 } /* Literal.String.Backtick */
.highlight .sc { color: #d14 } /* Literal.String.Char */
.highlight .sd { color: #d14 } /* Literal.String.Doc */
.highlight .s2 { color: #d14 } /* Literal.String.Double */
.highlight .se { color: #d14 } /* Literal.String.Escape */
.highlight .sh { color: #d14 } /* Literal.String.Heredoc */
.highlight .si { color: #d14 } /* Literal.String.Interpol */
.highlight .sx { color: #d14 } /* Literal.String.Other */
.highlight .sr { color: #009926 } /* Literal.String.Regex */
.highlight .s1 { color: #d14 } /* Literal.String.Single */
.highlight .ss { color: #990073 } /* Literal.String.Symbol */
.highlight .bp { color: #999999 } /* Name.Builtin.Pseudo */
.highlight .vc { color: #008080 } /* Name.Variable.Class */
.highlight .vg { color: #008080 } /* Name.Variable.Global */
.highlight .vi { color: #008080 } /* Name.Variable.Instance */
.highlight .il { color: #009999 } /* Literal.Number.Integer.Long */

.reference-tag { 
   float: right;
}

.reference-tag div { 
  display: inline-block;
  text-decoration: none;
  font-style: italic;
  padding: 1em;
  margin-bottom: 1em;
  background: #aaa;
  border-radius: 1em;
}

.reference-tag a { 
  color: white;
}

table {
  border: solid 1px black;
}

table td, table th {
  border: solid 1px black;
  padding: 3px;
}

table.meta td, table.meta th {
  border: none;
}

table th {
  background: #333;
  color: white;
}

.content .gist-it-gist .gist-file .gist-meta, .gister-gist .gist-file .gist-meta {
  font-size: 65%;
}