.banner {
  padding: 25px;
  text-align: center;
}

.banner h1 {
  font-size: 45px;
  font-weight: bold;
}

.sidebar .toc ul {
  margin-left: 18px;
}

.sidebar h3:first-child {
  margin-top: 0;
}

body {
  font-size: 16px;
}

.meta { 
  background-color: rgba(255, 255, 255, 0.5);
  border: 1px solid #ddd;
  margin: 20px;
  border-radius: 4px;
}
.meta td { 
  padding-left: 10px;
  padding-right: 10px;
}
.meta tr td:first-child { 
  font-weight: bold;
}