@import url(http://fonts.googleapis.com/css?family=News+Cycle:400,700|Merriweather:400,300,700);

body {
  font-size: 14px;
  font-family: Merriweather, serif;
  font-weight: 300;
  background-color: #eee;
}

h1, h2, h3, h4, h5, h6, .navbar, form, .btn, input, button, select, textarea
{
	font-family: 'News Cycle', Arial, sans-serif;
}

.content {
  padding-top: 25px;
}

.page-header h1 {
  font-size: 45px;
  font-weight: bold;
  color: #0088cc;
  text-align: center;
}

.sidebar .toc ul {
  margin-left: 18px;
}

.sidebar h3:first-child {
  margin-top: 0;
}

.meta { 
  background-color: rgba(255, 255, 255, 0.5);
  border: 1px solid #ddd;
  padding: 5px;
  margin-bottom: 20px;
  border-radius: 4px;
  font-size: 90%;
}
.meta td { 
  padding-left: 10px;
  padding-right: 10px;
}
.meta tr td:first-child { 
  font-weight: bold;
}

.table-definitions td:first-child { 
  font-weight: bold;
}

pre {
  font-size: 13px;
}

blockquote {
  font-style: italic;
  background-color: #ddd;
  border-left: 10px solid #ccc;
  padding: 10px;
}
blockquote p {
  font-size: 14px;
}

/**********************************************************
  * Navigation
  *********************************************************/

.brand img {
  margin-top: -3px;
  height: 30px;
  margin-right: 3px;
}

.brand {
  padding-right: 8px;
}

.navbar-inner {
  background: #e0e7eb;
  padding-top: 0px;
}

.navbar-inner .brand {
  color: #434C50;
  padding-top: 7px;
  padding-bottom: 6px;
}

.navbar .divider-vertical {
  background-color: #acbfca;
  border-right: 1px solid #f5f7f8;
  width: 1px;
  margin: 0;
}

.navbar .nav > li > a {
  color: #434c50;
  text-shadow: none;
}

.navbar .nav > li > a:hover {
  color: #222;
}

/**********************************************************
  * Footer
  *********************************************************/

footer {
  font-size: 90%;
  background-color: #f5f5f5;
  padding: 20px 0px;
  margin-top: 20px;
  border-top: solid 1px #ddd;
}

.feedback {
  position: absolute;
  right: 4px;
  top: 250px;
  width: 30px;
  -webkit-transform: rotate(90deg);
  -o-transform: rotate(90deg); 
  transform: rotate(90deg);
  z-index: 100;
}

.feedback a {
  color: #333;
  font-weight: bold;
  font-size: 20px;
  padding: 5px 10px;
  margin-top: 3px;
  background-color: white;
  border: solid 1px #eee;
  border-top: none;
}

.feedback a:hover {
  text-decoration: none;
  background-color: #ddd;
}

