Rufus Pollock <rufus.pollock@okfn.org>
Gunnlaugur Þór Briem <gunnlaugur@gmail.com>
Benoit Chesneau <bchesneau@gmail.com>
Paul Fitzpatrick <paul.michael.fitzpatrick@gmail.com> <paulfitz@alum.mit.edu>
Andrew Berkeley <andrew.berkeley.is@googlemail.com>
Richard Hall <rhllrichard@gmail.com>
