<table class="table table-striped meta">
  <tr>
    <td>Authors</td>
    <td>
      {% for handle, name in bag('curators', this.slug).iteritems() %}
      {{ name }}<br />
      {% endfor %}
    </td>
  </tr>
  <tr>
    <td>Media Type</td>
    <td>
      {{ this.mediatype}}
    </td>
  </tr>
  {% if this.jsonschema %}
  <tr>
    <td>JSON Schema<br />(for spec)</td>
    <td><a href="{{this.jsonschema}}">{{ this.jsonschema }}</a></td>
  </tr>
  {% endif %}
  {% if this.version %}
  <tr>
    <td>Version</td>
    <td>
      {{ this.version }}
    </td>
  </tr>
  {% endif %}
  {% if this.updated %}
  <tr>
    <td>Last Updated</td>
    <td>
      {{ this.updated }}
    </td>
  </tr>
  {% endif %}
  {% if this.created %}
  <tr>
    <td>Created</td>
    <td>
      {{ this.created }}
    </td>
  </tr>
  {% endif %}
</table>
