# Meta

<table class="table table-striped meta">
  {% if page %}
  <tr>
    <td>Authors</td>
    <td>
      {% for author in page.authors %}
      {{ author.name }} ({{ author.organisation }})<br />
      {% endfor %}
    </td>
  </tr>
  {% endif %}
  {% if page.version %}
  <tr>
    <td>Version</td>
    <td>
      {{ page.version }}
    </td>
  </tr>
  {% endif %}
  {% if page.updated %}
  <tr>
    <td>Last Updated</td>
    <td>
      {{ page.updated }}
    </td>
  </tr>
  {% endif %}
  {% if page.created %}
  <tr>
    <td>Created</td>
    <td>
      {{ page.created }}
    </td>
  </tr>
  {% endif %}
</table>
