<div class="widget toc">
  <h3>Table of Contents</h3>

  <h4>Proposals</h4>
  <ul>
    <li><a href="{{site.baseurl}}/data-packages/">Data Packages</a></li>
    <li><a href="{{site.baseurl}}/simple-data-format/">Simple Data Format (SDF)</a></li>
    <li><a href="{{site.baseurl}}/json-table-schema/">JSON Table Schema</a></li>
    <li><a href="{{site.baseurl}}/csv-dialect/">CSV Dialect Description Format (CSVDDF)</a></li>
    <li><a href="{{site.baseurl}}/tabular-diff-format/">Coopy highlighter diff format for tables</a></li>
  </ul>

  <h4>Research and Patterns</h4>
  <ul>
    <li><a href="{{site.baseurl}}/revisioning-data/">Revisioning (Versioning) for Data: Theory</a></li>
    <li><a href="{{site.baseurl}}/syncing/">Changes and Syncing</a></li>
    <li><a href="{{site.baseurl}}/reconciliation/">Reconciliation Protocol</a></li>
    <li><a href="{{site.baseurl}}/data-query-protocol/">Data Query Protocol</a></li>
    <li><a href="{{site.baseurl}}/data-formats/">Web-Oriented Data Formats</a></li>
  </ul>
</div>

<div>
  <h3>Contribute</h3>
  <p>Contributions, comments and corrections are warmly welcomed. They can
  be submitted via one of the following routes:</p>
  <ol>
    <li>A patch to the <a
    href="https://github.com/dataprotocols/dataprotocols">git repo</a> (fork and pull
  recommended) &ndash; best for textual corrections and additions</li>
  <li>The <a
    href="http://lists.okfn.org/mailman/listinfo/data-protocols">mailing
    list</a> &ndash; best for general discussion</li>
    <li>The <a href="https://github.com/dataprotocols/dataprotocols/issues">issue
      tracker</a> &ndash; best for general issues or suggestions</li>
    <li><a href="https://twitter.com/DataProtocols">DataProtocols Twitter
    account</a></li>
  </ol>
</div>
