---
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<article class="sl-flex not-content" aria-labelledby="about-astro-heading">
	<small id="about-astro-heading">
		{title}
		<span class="sr-only">Astro</span>
	</small>

<svg version="1.1" id="Ebene_2" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 587.7 166.1" style="enable-background:new 0 0 587.7 166.1;" xml:space="preserve">
<style type="text/css">
	.st0{enable-background:new    ;}
	.st1{fill:#03D1FF;}
	.st2{fill:#00D1FF;}
	.st3{display:none;enable-background:new    ;}
	.st4{font-family:'HKGrotesk-Bold';}
	.st5{font-size:18.1px;}
</style>
<g>
	<g>
		<g class="st0">
			<path d="M170.1,107.3h8.9v2.1h-6.7v3h5.9v2.1h-5.9v5.4h-2.3V107.3z"/>
		</g>
		<g>
			<g>
				<g class="st0">
					<path d="M166.4,66.3c0-11.8,7.2-19.5,17.9-19.5c10.7,0,17.9,7.8,17.9,19.5c0,11.7-7.2,19.5-17.9,19.5
						C173.6,85.7,166.4,78,166.4,66.3z M195.4,66.3c0-8.1-4.3-13.2-11.2-13.2s-11.2,5-11.2,13.2c0,8.1,4.3,13.1,11.2,13.1
						S195.4,74.3,195.4,66.3z"/>
				</g>
				<g class="st0">
					<path d="M234.4,71.7c0,8.6-4.7,13.7-11.2,13.7c-3,0-6-1.2-7.6-3.2v13.6h-6.4V58.5h6.4v2.6c1.8-2.3,4.8-3.2,7.6-3.2
						C230.5,57.9,234.4,63.8,234.4,71.7z M228,71.7c0-5.2-2-8.1-6.3-8.1c-4.7,0-6.7,3.4-6.7,8.1c0,4.6,2,8.2,6.6,8.2
						C225.9,79.8,228,76.8,228,71.7z"/>
				</g>
				<g class="st0">
					<path d="M263.5,73.8h-18.1c0.3,3.5,2.4,5.8,6.6,5.8c2.4,0,4.5-0.8,6.3-2.8l4.5,3.9c-2.9,3.2-6.4,4.8-10.8,4.8
						c-9.1,0-13-6.6-13-13.6c0-6.9,3.8-13.9,12.6-13.9c8.2,0,12.2,6.1,12.2,13.4C263.6,72.2,263.6,73,263.5,73.8z M257.4,68.7
						c-0.1-3.4-2.7-5.4-6.1-5.4c-3.9,0-5.7,2.8-6.1,5.4H257.4z"/>
				</g>
				<g class="st0">
					<path d="M294.8,67.9v17.1h-6.4V69.5c0-1.8,0-5.9-4.9-5.9c-6,0-6,6.1-6,10.8v10.6H271V58.5h6.4v3.1c1.9-2.5,4.8-3.6,8-3.6
						C291.4,57.9,294.8,61.6,294.8,67.9z"/>
				</g>
				<g class="st0">
					<path d="M343.1,84.9l-11.1-18.6l-7.1,7.2v11.4h-6.7V47.5h6.7v17.6l16.8-17.6h8.8l-13.9,14.2l14.3,23.3H343.1z"/>
					<path d="M379.3,67.9v17.1h-6.4V69.5c0-1.8,0-5.9-4.9-5.9c-6,0-6,6.1-6,10.8v10.6h-6.4V58.5h6.4v3.1c1.9-2.5,4.8-3.6,8-3.6
						C375.9,57.9,379.3,61.6,379.3,67.9z"/>
				</g>
				<g class="st0">
					<path d="M381.9,71.7c0-7.5,5-13.7,13.3-13.7c8.2,0,13.3,6.2,13.3,13.7c0,7.5-5.1,13.8-13.3,13.8
						C387,85.5,381.9,79.1,381.9,71.7z M402,71.7c0-4.3-1.9-8.1-6.8-8.1s-6.8,3.8-6.8,8.1c0,4.3,1.9,8.2,6.8,8.2S402,76,402,71.7z"
						/>
				</g>
				<g class="st0">
					<path d="M411.3,58.5h6.9l4.5,16.6l5-16.6h5.5l5,16.5l4.6-16.5h6.9l-8.2,26.5h-5.8l-5.2-17.3l-5.2,17.3h-5.8L411.3,58.5z"/>
				</g>
				<g class="st0">
					<path d="M455.7,78.6V47.5h6.4v30.7c0,1.2,0.7,1.7,1.9,1.7c0.6,0,1.3-0.1,2-0.3v5.2c-1.4,0.5-2.9,0.8-4.1,0.8
						C458.3,85.5,455.7,83.3,455.7,78.6z"/>
				</g>
				<g class="st0">
					<path d="M493.7,73.8h-18.1c0.3,3.5,2.4,5.8,6.6,5.8c2.4,0,4.5-0.8,6.3-2.8l4.5,3.9c-2.9,3.2-6.4,4.8-10.8,4.8
						c-9.1,0-13-6.6-13-13.6c0-6.9,3.8-13.9,12.6-13.9c8.2,0,12.2,6.1,12.2,13.4C493.9,72.2,493.8,73,493.7,73.8z M487.7,68.7
						c-0.1-3.4-2.7-5.4-6.1-5.4c-3.9,0-5.7,2.8-6.1,5.4H487.7z"/>
				</g>
				<g class="st0">
					<path d="M524.3,47.5v37.4h-6.4v-2.6c-1.8,2.3-4.8,3.2-7.6,3.2c-7.2,0-11.2-5.9-11.2-13.8c0-8.6,4.7-13.7,11.2-13.7
						c3,0,6,1.2,7.6,3.2V47.5H524.3z M518.5,71.7c0-4.4-2-7.9-6.6-7.9c-4.3,0-6.3,3-6.3,7.9c0,4.9,2,7.8,6.3,7.8
						C516.5,79.5,518.5,76.1,518.5,71.7z"/>
				</g>
				<g class="st0">
					<path d="M555.6,88.5c0,5.5-5,7.9-12.2,7.9c-7.9,0-12.4-2.9-12.4-8.4c0-0.6,0.1-0.9,0.1-1.2l3.8-2.4c-1.9-1-3.2-2.7-3.2-5.4
						c0-2.3,0.9-4,2.5-5.3c-1.3-1.7-2.1-3.8-2.1-6.1c0-5.7,4.9-9.7,10.8-9.7c2.3,0,4.5,0.6,6.2,1.7l4-3.4l3.4,4.1l-3.8,3.1
						c0.7,1.3,1.1,2.9,1.1,4.6c0,5.9-4.9,9.7-10.7,9.7c-1.8,0-3.5-0.4-5.1-1c-0.5,0.3-0.8,0.8-0.8,1.4c0,1.9,2.7,2.5,6,2.9
						C548.6,81.6,555.6,82.2,555.6,88.5z M549.1,89.1c0-2-3.4-2.3-7.2-2.8l-2.2-0.3l-2.3,2.2c-0.1,0.2-0.1,0.3-0.1,0.4
						c0,2.3,3.3,3,6.3,3C546.4,91.6,549.1,91,549.1,89.1z M538.5,67.8c0,2.5,1.5,4.6,4.5,4.6c3,0,4.4-2,4.4-4.6
						c0-2.7-1.7-4.5-4.4-4.5S538.5,65.1,538.5,67.8z"/>
				</g>
				<g class="st0">
					<path d="M583.4,73.8h-18.1c0.3,3.5,2.4,5.8,6.6,5.8c2.4,0,4.5-0.8,6.3-2.8l4.5,3.9c-2.9,3.2-6.4,4.8-10.8,4.8
						c-9.1,0-13-6.6-13-13.6c0-6.9,3.8-13.9,12.6-13.9c8.2,0,12.2,6.1,12.2,13.4C583.6,72.2,583.5,73,583.4,73.8z M577.4,68.7
						c-0.1-3.4-2.7-5.4-6.1-5.4c-3.9,0-5.7,2.8-6.1,5.4H577.4z"/>
				</g>
			</g>
			<g>
				<g class="st0">
					<path d="M179.8,113.6c0-4,2.4-6.6,6-6.6c3.6,0,6,2.6,6,6.6c0,3.9-2.4,6.6-6,6.6C182.3,120.2,179.8,117.5,179.8,113.6z
						 M189.6,113.6c0-2.7-1.5-4.4-3.8-4.4s-3.8,1.7-3.8,4.4c0,2.7,1.5,4.4,3.8,4.4S189.6,116.3,189.6,113.6z"/>
				</g>
				<g class="st0">
					<path d="M202.1,119.9l-3-5.2h-0.8h-0.8v5.2h-2.2v-12.6h4.1c3,0,4.3,1.4,4.3,3.6c0,1.8-0.8,3-2.3,3.5l3.4,5.5H202.1z
						 M199.1,112.6c1.5,0,2.3-0.4,2.3-1.6c0-1.2-0.8-1.6-2.3-1.6h-1.6v3.2H199.1z"/>
					<path d="M219.5,117.3h-4.9l-1,2.6h-2.5l5-12.6h1.7l5,12.6h-2.5L219.5,117.3z M218.7,115.2l-1.7-4.6l-1.7,4.6H218.7z"/>
				</g>
				<g class="st0">
					<path d="M231.3,107.3h8.9v2.1h-6.7v3h5.9v2.1h-5.9v5.4h-2.3V107.3z"/>
				</g>
				<g class="st0">
					<path d="M248,117.3h-4.9l-1,2.6h-2.5l5-12.6h1.7l5,12.6H249L248,117.3z M247.2,115.2l-1.7-4.6l-1.7,4.6H247.2z"/>
				</g>
				<g class="st0">
					<path d="M254.4,107.3h2.3v12.6h-2.3V107.3z"/>
				</g>
				<g class="st0">
					<path d="M267.1,119.9l-3-5.2h-0.8h-0.8v5.2h-2.2v-12.6h4.1c3,0,4.3,1.4,4.3,3.6c0,1.8-0.8,3-2.3,3.5l3.4,5.5H267.1z
						 M264.2,112.6c1.5,0,2.3-0.4,2.3-1.6c0-1.2-0.8-1.6-2.3-1.6h-1.6v3.2H264.2z"/>
				</g>
				<g class="st0">
					<path d="M273.2,117.5h2.5l-2.3,5H272L273.2,117.5z"/>
				</g>
				<g class="st0">
					<path d="M282.4,116.3l2.2-0.6c0.2,1.5,1.2,2.4,2.6,2.4c1.3,0,2.1-0.6,2.1-1.7c0-0.9-0.7-1.4-2.5-2.2c-2.6-1-3.6-2-3.6-3.8
						c0-2,1.6-3.4,3.9-3.4c1.7,0,3,0.8,3.8,2.3l-1.9,1.2c-0.4-0.9-1.2-1.4-2-1.4c-0.9,0-1.6,0.6-1.6,1.4c0,0.8,0.6,1.3,2.5,2
						c2.7,1,3.6,2,3.6,3.8c0,2.4-1.8,3.9-4.4,3.9C284.7,120.1,282.8,118.6,282.4,116.3z"/>
				</g>
				<g class="st0">
					<path d="M294.7,115.3v-8.1h2.3v7.8c0,2.1,0.7,2.9,2.6,2.9c1.9,0,2.6-0.8,2.6-2.9v-7.8h2.3v8c0,3.3-1.6,4.9-4.8,4.9
						C296.3,120.2,294.7,118.5,294.7,115.3z"/>
				</g>
				<g class="st0">
					<path d="M306.5,116.3l2.2-0.6c0.2,1.5,1.2,2.4,2.6,2.4c1.3,0,2.1-0.6,2.1-1.7c0-0.9-0.7-1.4-2.5-2.2c-2.6-1-3.6-2-3.6-3.8
						c0-2,1.6-3.4,3.9-3.4c1.7,0,3,0.8,3.8,2.3l-1.9,1.2c-0.4-0.9-1.2-1.4-2-1.4c-0.9,0-1.6,0.6-1.6,1.4c0,0.8,0.6,1.3,2.5,2
						c2.7,1,3.6,2,3.6,3.8c0,2.4-1.8,3.9-4.4,3.9C308.8,120.1,306.8,118.6,306.5,116.3z"/>
				</g>
				<g class="st0">
					<path d="M321.5,109.3h-3.9v-2.1h10.2v2.1h-3.9v10.5h-2.3V109.3z"/>
				</g>
				<g class="st0">
					<path d="M335.9,117.3h-4.9l-1,2.6h-2.5l5-12.6h1.7l5,12.6h-2.5L335.9,117.3z M335.1,115.2l-1.7-4.6l-1.7,4.6H335.1z"/>
				</g>
				<g class="st0">
					<path d="M342.3,107.3h2.3v12.6h-2.3V107.3z"/>
				</g>
				<g class="st0">
					<path d="M358.1,107.3v12.6h-2.4l-5.3-8.7v8.7h-2.3v-12.6h2.3l5.3,8.7v-8.7H358.1z"/>
				</g>
				<g class="st0">
					<path d="M368.4,117.3h-4.9l-1,2.6h-2.5l5-12.6h1.7l5,12.6h-2.5L368.4,117.3z M367.7,115.2l-1.7-4.6l-1.7,4.6H367.7z"/>
				</g>
				<g class="st0">
					<path d="M374.8,107.3h4.4c2.5,0,4,1.2,4,3.2c0,1.2-0.5,2.1-1.4,2.6c1.4,0.5,2.1,1.5,2.1,3.1c0,2.3-1.5,3.7-4.1,3.7h-5V107.3z
						 M379.2,112.3c1.1,0,1.7-0.5,1.7-1.4c0-1-0.6-1.5-1.7-1.5h-2.1v2.9H379.2z M379.6,117.8c1.3,0,2-0.7,2-1.8c0-1.1-0.7-1.6-2-1.6
						h-2.5v3.4H379.6z"/>
				</g>
				<g class="st0">
					<path d="M386.9,107.3h2.3v10.5h5.4v2.1h-7.7V107.3z"/>
				</g>
				<g class="st0">
					<path d="M396.9,107.3h8.4v2.1h-6.1v3h5.7v2.1h-5.7v3.4h6.1v2.1h-8.4V107.3z"/>
					<path d="M421,117.3h-4.9l-1,2.6h-2.5l5-12.6h1.7l5,12.6H422L421,117.3z M420.2,115.2l-1.7-4.6l-1.7,4.6H420.2z"/>
				</g>
				<g class="st0">
					<path d="M436.8,107.3v12.6h-2.4l-5.3-8.7v8.7h-2.3v-12.6h2.3l5.3,8.7v-8.7H436.8z"/>
				</g>
				<g class="st0">
					<path d="M440.4,107.3h3.7c4.2,0,6.6,2.3,6.6,6.4c0,4-2.3,6.2-6.6,6.2h-3.6V107.3z M443.9,117.8c3.2,0,4.5-1.2,4.5-4.2
						c0-2.9-1.3-4.2-4.3-4.2h-1.4v8.5H443.9z"/>
				</g>
				<g class="st0">
					<path d="M458,113.6c0-4,2.4-6.6,6-6.6c3.6,0,6,2.6,6,6.6c0,3.9-2.4,6.6-6,6.6C460.4,120.2,458,117.5,458,113.6z M467.8,113.6
						c0-2.7-1.5-4.4-3.8-4.4c-2.3,0-3.8,1.7-3.8,4.4c0,2.7,1.5,4.4,3.8,4.4C466.3,118,467.8,116.3,467.8,113.6z"/>
				</g>
				<g class="st0">
					<path d="M473.4,107.3h4.1c2.8,0,4.3,1.2,4.3,3.6c0,2.4-1.5,3.7-4.3,3.7h-1.9v5.2h-2.2V107.3z M477.3,112.6
						c1.6,0,2.3-0.5,2.3-1.6c0-1.1-0.7-1.6-2.3-1.6h-1.6v3.2H477.3z"/>
				</g>
				<g class="st0">
					<path d="M484.3,107.3h8.4v2.1h-6.1v3h5.7v2.1h-5.7v3.4h6.1v2.1h-8.4V107.3z"/>
				</g>
				<g class="st0">
					<path d="M505.7,107.3v12.6h-2.4l-5.3-8.7v8.7h-2.3v-12.6h2.3l5.3,8.7v-8.7H505.7z"/>
				</g>
				<g class="st0">
					<path d="M514.6,107.3h8.9v2.1h-6.7v3h5.9v2.1h-5.9v5.4h-2.3V107.3z"/>
				</g>
				<g class="st0">
					<path d="M525.2,115.3v-8.1h2.3v7.8c0,2.1,0.7,2.9,2.6,2.9s2.6-0.8,2.6-2.9v-7.8h2.3v8c0,3.3-1.6,4.9-4.8,4.9
						C526.9,120.2,525.2,118.5,525.2,115.3z"/>
				</g>
				<g class="st0">
					<path d="M540.8,109.3h-3.9v-2.1H547v2.1h-3.9v10.5h-2.3V109.3z"/>
				</g>
				<g class="st0">
					<path d="M549.5,115.3v-8.1h2.3v7.8c0,2.1,0.7,2.9,2.6,2.9s2.6-0.8,2.6-2.9v-7.8h2.3v8c0,3.3-1.6,4.9-4.8,4.9
						C551.2,120.2,549.5,118.5,549.5,115.3z"/>
				</g>
				<g class="st0">
					<path d="M569.6,119.9l-3-5.2h-0.8H565v5.2h-2.2v-12.6h4.1c3,0,4.3,1.4,4.3,3.6c0,1.8-0.8,3-2.3,3.5l3.4,5.5H569.6z
						 M566.6,112.6c1.5,0,2.3-0.4,2.3-1.6c0-1.2-0.8-1.6-2.3-1.6H565v3.2H566.6z"/>
				</g>
				<g class="st0">
					<path d="M574.7,107.3h8.4v2.1H577v3h5.7v2.1H577v3.4h6.1v2.1h-8.4V107.3z"/>
				</g>
			</g>
		</g>
	</g>
	<g>
		<path class="st1" d="M103.1,63c4.2,4.2,7,9.7,7.9,15.6l12.1-12.1l30.4-30.4L130,12.6L99.6,42.9V0H66.4v60.1
			C77.7,52,93.2,53.2,103.1,63z"/>
		<path class="st2" d="M111,87.5c-2.4,15.4-16.9,26-32.3,23.5c-4.4-0.7-8.6-2.4-12.2-5.1V166h33.2v-42.9l30.4,30.4l23.5-23.5
			l-30.4-30.4C123.2,99.6,111,87.5,111,87.5z"/>
		<path d="M111,87.5c-2.5,15.4-17,26-32.5,23.5c-15.4-2.5-26-17-23.5-32.5c1-5.9,3.8-11.4,7.9-15.6c1.1-1.1,2.2-2,3.4-2.9
			c12.6-9.2,30.3-6.4,39.5,6.2c2.6,3.6,4.4,7.8,5.1,12.3l12.1-12.1l30.4-30.4L130,12.6L99.6,42.9V0H66.4v42.9L36.1,12.6L12.6,36.1
			l30.4,30.4H0v33.2h42.9L12.6,130l23.5,23.5l30.4-30.4v42.9h33.2v-42.9l30.4,30.4l23.5-23.5l-30.4-30.4L111,87.5z M104.2,47.4
			l25.9-25.9l14.5,14.5L118.7,62l-4.9,4.9c-1.7-3.1-3.7-5.9-6.2-8.4c-2.5-2.5-5.3-4.6-8.3-6.2L104.2,47.4L104.2,47.4z M93.3,6.4
			v43.6c-6.7-2-13.8-2-20.5,0V6.3C72.8,6.3,93.3,6.3,93.3,6.4z M21.6,36.1l14.5-14.5l24,24V57c-0.6,0.5-1.1,1-1.6,1.5
			c-2.5,2.5-4.6,5.3-6.2,8.4L47.4,62C47.4,62,21.6,36.1,21.6,36.1z M6.4,93.3V72.8h43.6c-2,6.7-2,13.8,0,20.5
			C49.9,93.3,6.3,93.3,6.4,93.3z M60.1,120.5l-24.1,24l-14.5-14.5l25.9-25.8l4.9-4.9c1.7,3.1,3.7,5.9,6.2,8.3c0.5,0.5,1,1,1.6,1.5
			L60.1,120.5L60.1,120.5z M93.3,123.1v36.6H72.7v-43.6c6.7,2,13.8,2,20.5,0L93.3,123.1L93.3,123.1z M130,144.5l-25.8-25.9l-4.9-4.9
			c6.2-3.3,11.2-8.3,14.5-14.5l4.9,4.9l25.9,25.9L130,144.5L130,144.5z"/>
	</g>
</g>
<text transform="matrix(1 0 0 1 573.11 119.88)" class="st3 st4 st5">E</text>
</svg>
	<slot />
</article>

<style>
	article {
		max-width: 40rem;
		margin-inline: auto;
		padding-block: 5rem;
		flex-direction: column;
		align-items: center;
		text-align: center;
		gap: 0.5rem;
	}
	article > :global(*) {
		max-width: 50ch;
	}
	small {
		color: var(--sl-color-gray-3);
	}
	svg {
		width: 15rem;
	}
</style>
