---
import type { Props } from "@astrojs/starlight/props"
import Default from "@astrojs/starlight/components/SocialIcons.astro"
---

<a href="https://specs.frictionlessdata.io/"><strong>v1</strong></a>

<!-- Render the default social links. -->
<Default {...Astro.props}><slot /></Default>

<!-- Add styles to mimic the default links appearance. -->
<style>
  a {
    color: var(--sl-color-text-accent);
    margin: -0.5em;
    padding: 0.5em;
  }

  a:hover {
    opacity: 0.66;
  }
</style>
