---
import type { Props } from "@astrojs/starlight/props"
import Default from "@astrojs/starlight/components/SocialIcons.astro"
---

<a href="/standard/data-package/" style="text-decoration: none"
  ><strong>v2 (current)</strong></a
>
<a href="https://specs.frictionlessdata.io/"><strong>v1</strong></a>

<Default {...Astro.props}><slot /></Default>

<div class="validator">
  <a href="https://datapackage-validator.datist.io"><strong>Validator</strong></a>
</div>

<!-- Add styles to mimic the default links appearance. -->
<style>
  a {
    color: var(--sl-color-text-accent);
    margin: -0.5em;
    padding: 0.5em;
  }

  a:hover {
    opacity: 0.66;
  }

  div.validator {
    border-left: 1px solid var(--sl-color-gray-5);
    padding-left: 1rem;
  }

  div.validator a {
    text-decoration: none;
  }
</style>
