{% macro property(slug, obj, minimal=False, unpack=False, examples=True) %}
<div class="property">

  <h4><code>{{ slug }}</code></h4>

  {% if obj.description %}
  <div>
    <p>{{ obj.description|markdown }}</p>
  </div>
  {% endif %}

  {% if not minimal and obj.context %}
  <div>
    {{ obj.context|markdown }}
  </div>
  {% endif %}

  {% if not minimal and examples and obj.examples %}
  <h5>Examples</h5>
  {% for example in obj.examples %}
  <div>
    {{ example|pygmentize('json') }}
  </div>
  {% endfor %}
  {% endif %}

  {% if unpack and obj.properties %}
  <h5>Properties</h5>
  {% for k, v in obj.properties.iteritems() %}
  {{ property(k, v, unpack=unpack, minimal=minimal, examples=False) }}
  {% endfor %}
  {% endif %}

  {% if not minimal and obj.notes %}
  <h5>Notes</h5>
  <ul>
    {% for note in obj.notes %}
    <li>{{ note|markdown }}</li>
    {% endfor %}
  </ul>
  {% endif %}

  {% if obj['items'] is mapping %}

  {% if obj['items'].anyOf %}

  <div class="property-items">
    <h5>Options</h5>
    <p>There are several options for {{ obj['items'].title }} {{ obj['items'].type }}s.</p>
    {% for option in obj['items'].anyOf %}
    {{ property(option.title, option, unpack=True) }}
    {% endfor %}
  </div>

  {% elif not minimal %}

  <div class="property-items">
    <h5>Items</h5>
    <p>
      Each item in the {{ obj.title }} {{ obj.type }} is a <strong>{{ obj['items'].title }}</strong> {{ obj['items'].type }}. The {% for required in obj['items'].required %}<code>{{ required }}</code>{% if not loop.last %}, {% endif %}{% endfor %} {% if obj['items'].required|length > 1 %}properties are{% else %}property is{% endif %} <strong>required</strong>, and other defined properties are optional.
    </p>
    {% if obj['items'].properties %}
    {% for k, v in obj['items'].properties.iteritems() %}
    {#{% if k in obj['items'].required %}#}
    {{ property(k, v, minimal=False, examples=False) }}
    {#{% endif %}#}
    {% endfor %}
    {% endif %}
  </div>

  {% endif %}

  {% endif %}

</div>
{% endmacro %}
