<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title> 
    {{page.title}} - Frictionless Data - Open Knowledge International
  </title>
  <meta name="author" content="Open Knowledge International and others">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
  <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->

  <link href="//netdna.bootstrapcdn.com/bootstrap/2.3.2/css/bootstrap.min.css" rel="stylesheet" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.0/jquery.min.js"></script>
  <script src="//netdna.bootstrapcdn.com/bootstrap/2.3.2/js/bootstrap.min.js"></script>
  <link href="{{site.baseurl}}/css/style.css" rel="stylesheet" />

{% if page.redirect %}
  <meta http-equiv="refresh" content="0; url={{ page.redirect }}">
{% endif %}
{% if page.internal_redirect %}
  <meta http-equiv="refresh" content="0; url={{ site.baseurl }}{{ page.internal_redirect }}">
{% endif %}

</head>
<body>
{% capture remove_blank_lines %}
  {% assign details = site.data.details.site_default %}
  {% assign have_subsite = false %}
  {% assign terms = page.title | downcase | split: ' ' %}
  {% for term in terms  %}
    {% if site.data.details[term] %}
      {% assign details = site.data.details[term] %}
      {% assign have_subsite = true %}
    {% endif %}
  {% endfor %}
{% endcapture %}
<div class="navbar navbar-static-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="brand" href="{{site.baseurl}}/">
        <img src="/img/frictionless-data.png" alt="" />
        Frictionless Data
        <small>Specifications</small>
      </a>
      <ul class="nav pull-right">
        <li class="divider-vertical"></li>
        <li>
          <a href="http://frictionlessdata.io" title="Main Site">Main Site</a>
        </li>        
	{% unless have_subsite %}
        <li class="divider-vertical"></li>
        <li>
          <a href="https://discuss.okfn.org/c/frictionless-data" title="Join the discussion">Forum</a>
        </li>
	{% endunless %}
        <li class="divider-vertical"></li>
        <li>
          <a href="{{details.tracker}}" title="Report issues, suggestions and improvements">{% if have_subsite %}{{details.label}} {%endif%}Issue Tracker</a>
        </li>
        <li class="divider-vertical"></li>
        <li>
          <a href="{{details.repo}}" title="Fork and pull to submit new material or corrections">{% if have_subsite %}{{details.label}} {%endif%}Repo</a>
        </li>
	{% unless have_subsite %}
        <li class="divider-vertical"></li>
        <li>
          <a href="https://twitter.com/OKFNLabs">Twitter</a>
        </li>
	{% endunless %}
        <li class="divider-vertical"></li>
      </ul>
    </div>
  </div>
</div>
<div class="container">
  <div class="content">
    <div class="row">
      <div class="span6 offset3">
        <div class="banner page-header">
          <h1>
            {{page.title}}
            {% if page.subtitle %}
            <br />
            <small>
              {{page.subtitle}}
            </small>
            {% endif %}
          </h1>
        </div>

        {{content}}

      </div>
    </div>
  </div><!-- /content -->
  </div>

  <footer>
    <div class="container">
      <p>
        A project of <a href="http://okfn.org">Open Knowledge International</a>, with support from the <a href="http://sloan.org">Sloan Foundation</a> and the <a href="http://okfnlabs.org">Open Knowledge Labs community</a>
        &ndash;
        <a href="http://github.com/frictionlessdata/specs">Source Code</a>
      </p>
      <p>
      <a href="http://opendefinition.org/okd/" title="Open Content">
        <img src="http://assets.okfn.org/images/ok_buttons/oc_80x15_blue.png" alt="" border="" /></a>
      <a href="http://opendefinition.org/ossd/" title="Open Online Software Service">
        <img src="http://assets.okfn.org/images/ok_buttons/os_80x15_orange_grey.png" alt="" border="" />
      </a>
      </p>
      <p>
        Licensed under <a href="http://creativecommons.org/licenses/by/3.0/">CC Attribution license v3</a>
      </p>
  </div><!-- /container -->
</footer>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
<script src="http://assets.okfn.org/themes/okfn/collapse.min.js" type="text/javascript"></script>
<script src="http://assets.okfn.org/themes/okfn/okf-panel.js" type="text/javascript"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/anchor-js/3.2.1/anchor.min.js"></script>
<script>
  anchors.options.icon = '#';
  anchors.add('h2, h3, h4, h5, h6');
</script>
<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-8271754-41']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>
</body>
</html>
