---
layout: default
---

{% if page.redirect_to %}
<p>Moved: <a href="{{ page.redirect_to }}">{{ page.redirect_to }}</a></p>
<hr>
{% else %}

{% if page.summary %}
  <p>{{ page.summary | markdownify }}</p>
{% endif %}

{% include meta.html %}

{% if page.ietf-keywords %}
  {% capture language %}{% include language.md %}{% endcapture %}
  {{ language | markdownify }}
{% endif %}

{% if page.title %}
{% capture target %}{{ "# " | append: page.title  | markdownify }}{% endcapture %}
{{ content | replace: target, '' }}
{% else %}
{{content}}
{% endif %}
{% endif %}
