---
layout: base
---

{% capture meta %}{% include meta.html %}{% endcapture %}
{{ meta | markdownify }}

{% capture abstract %}{% include abstract.md %}{% endcapture %}
{{ abstract | markdownify }}

{% capture goals %}{% include goals.md %}{% endcapture %}
{{ goals | markdownify }}

{% capture changelog %}{% include changelog.html %}{% endcapture %}
{{ changelog | markdownify }}

{% capture language %}{% include language.md %}{% endcapture %}
{{ language | markdownify }}

<h1>Specification</h1>

{% capture descriptor %}{% include descriptor.md %}{% endcapture %}
{{ descriptor | markdownify }}

<h2>Contents</h2>

{% if page.title %}
{% capture target %}{{ "# " | append: page.title  | markdownify }}{% endcapture %}
{{ content | replace: target, '' | markdownify }}
{% else %}
{{ content | markdownify }}
{% endif %}

{% if page.profiles %}
{% capture profiles %}{% include profiles.md %}{% endcapture %}
{{ profiles | markdownify }}
{% endif %}

{% capture examples %}{% include examples.md %}{% endcapture %}
{{ examples | markdownify }}

{% capture properties %}{% include properties.md %}{% endcapture %}
{{ properties | markdownify }}
