A minimal {{ this.title }} on disk would be a directory containing a single file:

```
datapackage.json
```

A less minimal version would be:

```
datapackage.json
# a data file (CSV in this case)
data.csv
```

Additional files such as a README, scripts (for processing or analyzing the
data) and other material may be provided. By convention scripts go in a scripts
directory and thus, a more elaborate data package could look like this:

```
datapackage.json
README.md
mydata.csv
data/otherdata.csv
scripts/my-preparation-script.py
```

Several example Data Packages can be found in the <a href="https://GitHub.com/datasets">datasets organization on GitHub</a>, including:

- [World GDP](https://GitHub.com/datasets/gdp)
- [ISO 3166-2 country codes](https://GitHub.com/datasets/country-codes)
