A more complete example of a {{ this.title }} descriptor looks as follows.

```json
{
  "name": "my-unique-datapackage",
  "title": "My Unique Data Package",
  "licenses": [
    "http://example.com/license.md",
    "http://example.com/commercial-use.md"
  ],
  "author": {
  },
  "contributors": [
  ],
  "resources": [
    {
      "name": "",
      "data": [ "" ]
    },
    {
      "name": "",
      "data": [ "" ]
    },
    {
      "name": "",
      "data": [ "" ]
    }
  ]
  "sources": [
    {
      "name": ""
    }
  ]
}
```
