A slightly expanded {{ this.title }} with a primary key and a foreign key looks as follows.

```json
{
  "fields": [
    {
      "name": "code",
      "type": "string",
      "constraints": {
        "required": true
      }
    },
    {
      "name": "parent",
      "type": "string",
      "constraints": {
        "required": true
      }
    }
  ],
  "primaryKey": [
    "code",
    "parent"
  ],
  "foreignKeys": [
    {
      "fields": [
        "parent"
      ],
      "reference": {
        "resource": "",
        "fields": [
          "code"
        ]
      }
    }
  ]
}
```
