Here's an example of a minimal simple data format dataset:

    2 files

    data.csv
    datapackage.json


    data.csv
    --------

    var1,var2,var3
    A,1,2
    B,3,4

    datapackage.json
    ----------------

    {
      "name": "my-dataset",
      # here we list the data files in this dataset
      "resources": [
        {
          "data": [ "data.csv" ],
          "schema": {
            "fields": [
              {
                "name": "var1",
                "type": "string"
              },
              {
                "name": "var2",
                "type": "integer"
              },
              {
                "name": "var3",
                "type": "number"
              }
            ]
          }
        }
      ]
    }







A minimal {{ this.title }} on disk would be a directory containing a single file:

```
datapackage.json
```

Lacking a single piece of actual data would make this {{ this.title }} of doubtful use. A less minimal version would be:

```
datapackage.json
# a data file (CSV in this case)
data.csv
```

Additional files such as a README, scripts (for processing or analyzing the
data) and other material may be provided. By convention scripts go in a scripts
directory and thus, a more elaborate data package could look like this:

```
datapackage.json
README.md
mydata.csv
data/otherdata.csv
scripts/my-preparation-script.py
```

Several example Data Packages can be found in the <a href="https://GitHub.com/datasets">datasets organization on GitHub</a>, including:

- [World GDP](https://GitHub.com/datasets/gdp)
- [ISO 3166-2 country codes](https://GitHub.com/datasets/country-codes)
